.round {
  border-radius: 15px;
}

.round-btn {
  border-radius: 20px;
  padding: 0px 12px;
}

.text-dark-color {
  color: #604D53;
}

.text-light-color {
  color: mistyrose;
}

.bg-dark-color {
  background-color: #604D53
}

.bg-nav-button {
  background-color: #9DA3A4;
}